*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.main_box{
    background: url(photo.jpg);
    background-size: cover;
    height: 100vh;
}
#check{
    display: none;
}

.btn_one{
    color: white;
    font-size: 25px;
    font-weight: 500px;
    position: absolute;
    left: 15px;
    line-height: 15px;
    top: 20px;
    transition: 0.1s ease-in;
}
.btn_one:hover{
    font-size: 30px;
}
.sidebar_menu{
    position: fixed;
    margin-left: -400px;
    height: 100vh;
    width: 400px;
    background-color: rgb(45, 45, 45);
    box-shadow: 0 0 4px rgba(255, 255, blue, alpha);
    transition: margin-left 0.3s linear;
}
.sidebar_menu .logo{
    position: absolute;
    line-height: 60px;
    width: 100%;
    box-shadow: 0px 0px 6px grey;
}

.sidebar_menu .logo a{
    
    color: white;
    padding-left: 100px;
    text-decoration: none; 
    font-size: 30px; 
}


.btn_two{
    position: absolute;
    width: 100%;
    line-height: 60px;
}

.btn_two i{
    padding-left: 370px;
    padding-top: 19px;
    font-size: 25px;
    transition: 0.1s ease-in-out;
}
.btn_two i:hover{
    font-size: 30px;
}
.menu{
    position: absolute;
    width: 100%;
    top: 90px;
}
.menu li{
    margin-top: 6px;
    padding: 14px 20px;
    font-size: 15px; 
    transition: 0.2s ease-in-out; 
}
.menu li:hover{
    box-shadow: 0px 0px 6px grey;
}
.menu li i{
    padding-right: 6px;
}
.menu li i,a{
    color: white;
    text-decoration: none;
}
.social_media{
    position: absolute;
    color: white;
    width: 100%;
    left: 35%;
    bottom: 10px;
}
.social_media i{
    padding: 5px;
    opacity: 0.5;
}
.social_media i:hover{
    opacity: 1;
    transform: scale(1.1);
}

#check:checked ~ .sidebar_menu{
    margin-left: 0;
}


    