* {
    text-align: center;
}

.btn-con {
    display: flex;
    justify-content: center;
}

.btn {
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 1.5rem;
}

.red {
    background-color: rgb(79, 0, 0);
}

.blue {
    background-color: rgb(0, 0, 58);
}

.green {
    background-color: rgb(0, 58, 0);
}

.yellow {
    background-color: rgb(68, 68, 0);
}

.flash {
    background-color: white;
}